{% load crispy_forms_tags static bootstrap3 %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


{% block content %}

{% if messages %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}" id="msgs">
          {{ message|safe }}
    </div>
{% endfor %}
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-2"></div>
                <div class="col-sm-8" style="margin-top: 250px; margin-left: 170px">
                    {% for payment in payment %}
                        <p> {{ payment.order_item.price }} </p>
                        <p> {{ payment.order_item.order.first_name }} </p>
                    {% endfor %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ payment_form.non_field_errors }}
                        {% for field in payment_form %}
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                              {% bootstrap_field field show_label=False %}
                          </div>
                        </div>
                        {% endfor %}
                        <div class="col-md-12 text-center mt-4">
                            <button type="submit" class="btn btn-success">MAKE PAYMENT NOW</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
{% endblock %}