{% extends 'Dashboard/base.html' %}

{% block content %}

{% if apartment %}

{% if messages %}
            {% for message in messages %}
                <div class="text-center alert alert-{{ message.tags }}" id="msg">
                    {{ message|safe }}
                </div>
            {% endfor %}
{% endif %}

<p class="card-header" style="text-transform: uppercase;"><a href="{% url 'apartment_list' estate.estate_name %}" style="text-decoration:none;color: green">{{ apartment.estate_name }} </a></p>

{% if room %}
<p class="card-body"> There {{ room|pluralize:"is,are"}} {{room|length}} rooms in {{apartment.flat_id}} </p>
<p> {{ block.single_room }}</p>
<div class="row" style="overflow-x: scroll;">
    <div class="col-sm-12">
        <table class="table" >
            <thead>
                <tr>
                    <th> Room ID </th>
                    <th> Edit Room </th>
                    <th> Unique Room ID </th>
                    <th> Room Type </th>
                    <th> Price </th>
                </tr>
            </thead>

            <tbody>
                {% for room in room %}
                <tr>
                    <td>
                        <a href="{% url 'room_detail' room.room_id %}" style="text-decoration: none">
                            {{ room.room_id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'room_update' room.room_id %}">
                                <button class="btn btn-success"> Update </button>
                        </a>
                    </td>
                    {% if room.unique_room_id %}
                    <td> {{room.unique_room_id }} </td>

                    <td> {{room.room_types }} </td>
                    <td> {{ room.price }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-sm-12">
        no rooms found
    </div>
</div>

{% endif %}
{% endif %}

<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }

    }, 2000);
</script>
{% endblock content %}