{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="{% static 'asset_detail/img/favicon.png' %}"
      type="image/x-icon"
    />

    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{% static 'asset_detail/css/swiper-bundle.min.css' %}" />

    <!--=============== LIGHTBOX CSS ===============-->
    <link rel="stylesheet" href="{% static 'asset_detail/css/lightbox.css' %}" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'asset_detail/css/style.css' %}" />

    <!--=============== Jquery CSS ===============-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <title>Rent4Less</title>
  </head>
  <body class="bg-grey-light">
    <div class="secondary__nav">
      <nav class="container secondary__navigation">
        <a href="{% url 'home' %}" class="secondary__nav--logo">
          <img src="{% static 'asset_detail/img/rent4less-logo-small.png' %}" alt="" />
        </a>

        <!-- <ul class="secondary__nav--lists">
          <li class="secondary__nav--list">
            <a href="#" class="secondary__nav--link">About</a>
          </li>
          <li class="secondary__nav--list">
            <a href="#" class="secondary__nav--link">Faq</a>
          </li>
          <li class="secondary__nav--list">
            <a href="#" class="secondary__nav--link">Gallery</a>
          </li>
          <li class="secondary__nav--list">
            <a href="#" class="secondary__nav--link">Contact</a>
          </li>
        </ul> -->

        <ul class="secondary__nav--lists">
          <li class="secondary__nav--list">
            <a
              href="https://wa.me/message/DPX4GUMWGJ7SC1"
              class="skype-link"
              target="_blank"
            >
              <span class="">
                <!-- whatsapp-image /> -->
                <img src="{% static 'asset_detail/img/whatsapp.svg' %}" alt="whatsapp img" />
              </span>
            </a>
          </li>
          <li class="secondary__nav--list dropdown">
            <div>
              <div class="secondary__nav--list contact">
                <div class="nav__image">
                  <img src="{% static 'asset_detail/img/contact-min.jpg' %}" alt="" />
                  <div>
                    <span>you can call us for information</span>
                    <p>+234 8121825297</p>
                  </div>
                </div>
                <div class="dropdown">
                  <ul class="secondary__nav--lists dropdown__lists">
                    <li class="secondary__nav--list">
                      <a
                        href="https://wa.me/message/DPX4GUMWGJ7SC1"
                        class="secondary__nav--link dropdown__item"
                        ><span><img src="{% static 'asset_detail/img/whatsapp.svg' %}" alt="" /></span
                        >+234 8121825297</a
                      >
                    </li>
                    <li class="secondary__nav--list">
                      <a
                        href="tel:+234 812 182 5297"
                        class="secondary__nav--link dropdown__item"
                        ><span><i class="bx bxs-phone"></i></span>+234
                        8121825297</a
                      >
                    </li>
                    <li class="secondary__nav--list">
                      <a
                        href="tel:+234 812 182 5297"
                        class="secondary__nav--link dropdown__item"
                      >
                        <span><i class="bx bxs-phone"></i></span>+234
                        8121825297</a
                      >
                    </li>
                    <li class="secondary__nav--list">
                      <a
                        href="tel:+234 812 182 5297"
                        class="secondary__nav--link dropdown__item"
                      >
                        <span><i class="bx bxs-phone"></i></span>+234
                        8121825297</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="secondary__nav--list account">
            <span><i class="bx bxs-user-circle"></i></span>
            <button>
              <span>{{user.username}}</span>
              <!-- <span> Account<i class="bx bx-chevron-down"></i></span> -->
            </button>
            <div class="dropdown">
              {% if not user.is_authenticated %}
              <ul class="secondary__nav--lists dropdown__lists">
                <li>sign in to access exclusive members deals</li>
                <li class="secondary__nav--list">
                  <a href="{% url 'login' %}" class="secondary__nav--link btn button"
                    >Sign In</a
                  >
                </li>
                <li>New Members? <a href="{% url 'login' %}">Sign In</a></li>
              </ul>
              {% else %}
              <ul class="secondary__nav--lists dropdown__lists">
                <li>Are you sure you want to leave now?</li>
                <li class="secondary__nav--list">
                  <a href="{% url 'logout' %}" class="secondary__nav--link btn button"
                    >Sign Out</a
                  >
                </li>
              </ul>
              {% endif %}
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <!--=============== PROPERTY LISTINGS ===============-->
    <main class="main main__list listings">
      <!-- search functionality goes here -->
      <section class="search">
        <div class="search__wrapper">
          <form action="{% url 'estate-search' %}" method="POST">
            {% csrf_token %}
            <input type="search" placeholder="Search By Location" id="search-estate"
            required
            name="search"
            />
            <i class="bx bx-search"></i>
            <button type="submit">Search</button>
          </form>
        </div>
      </section>
      <!-- search functionality ends here -->

      <div class="main__wrapper">
        <section class="section email">
          <div class="email__container">
            <form class="form__container">
              <label for="text">Stay Updated with our latest rates</label>
              <div class="form__control">
                <input type="email" placeholder="Email Address" required />
                <button>Subscribe</button>
              </div>
            </form>
          </div>
        </section>
        <section class="section description">
          <h3 class="description__heading">{{ estate.count }} Propert{{ estate|pluralize:'y,ies'}} in {{ city }}</h3>
          <h5 class="description__subheading">
            Select & book Property near {{ city }}
          </h5>
          <p class="description__text">
            Book a great property in Lagos. Rent4Less has luxury Properties,
            cheap houses, lodges, estate in Lagos, shared apartments and more.
            All at the best rates that are only available online! Start Today
            and get amazing discounts on all purcahses.
          </p>
        </section>
        <section class="section filter">
          <div class="filter__wrapper filter__wrapper--sticky">
            <div class="filter__header">
              <i class="bx bxs-location-plus"></i>
              <h2>Search Other Area</h2>
            </div>
            <div class="filter__body">
              <div class="filter__range">
                {% for city in city_list %}
                <label class="filter__range--type">
                  <a
                    href="{% url 'property_detail' city.pk %}"
                    class="filter__link"
                    type="_blank"
                  >
                    <input
                      {% comment %} type="checkbox" {% endcomment %}
                      data-href="{% url 'property_detail' city.pk %}"
                      id=""
                    />
                    <span>{{city}}</span>
                    <br />
                        {% comment %} <li class="filter__range--number"> {{ new }} </li> {% endcomment %}
                  </a>
                </label>
                {% endfor %}
                
              </div>
            </div>
          </div>
        </section>

        <section class="section listing">
          <div class="listing__wrapper">
            <!--=============== PROPERTY FILTER VERTICAL ===============-->
            <ul class="listing__tab">
              <li class="list-half">
                <i class="bx bx-grid-alt"></i>
              </li>
              <li class="list-full active">
                <i class="bx bxs-notification"></i>
              </li>
            </ul>
            <div class="listing__container">
              {% for estate in estate %}
              <div class="cards">
                <a href="{% url 'apartment_detail' estate.pk  %}" class="cards__image">
                  {% comment %} <a href="/single.html" class="hidden">Reserve Now</a> {% endcomment %}
                  <img src="{{ estate.image.url }}" alt="" />
                </a>
                <div class="cards__body">
                  <div class="cards__body--title">
                    <span class="cards__body--highlight letter-spacing-2"
                      >
                      {{ estate.estate_name }}
                      </span
                    >
                  </div>
                  <h6>
                    <a href="#">{{ estate.location }}</a>
                  </h6>
                  {% comment %} <ul class="cards__body--list">
                    <li class="cards__body--item">
                      {{ estate.description|truncatewords:15 }} <span> <i class="bx bx-bath"></i>2</span>
                    </li>
                  </ul> {% endcomment %}
                </div>
                <div class="cards__footer">
                  <p class="cards__footer--initials">A</p>
                  <a href="{% url 'apartment_detail' estate.pk  %}" class="btn button__outlined"
                    >View Now</a
                  >
                </div>
              </div>
              {% endfor %}
            </div>
            <nav class="listing__pagination">
              {% if apartments.has_other_pages %}
                <ul class="pagination">
                  {% if apartments.has_previous %}
                    <li><a href="?page={{ apartments.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                  {% endif %}
                  {% for i in apartments.paginator.page_range %}
                    {% if apartments.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if apartments.has_next %}
                    <li><a href="?page={{ apartments.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
              {% endif %}
            </nav>
          </div>
        </section>
      </div>
    </main>

    <!--=============== MAIN JS ===============-->
    <script src="{% static 'asset_detail/js/listing.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script>
      var availableTags = [];
      $.ajax({
		type: "GET",
		url: "{% url 'estate-listing' %}",
		success: function (response) {
            startAutocomplete(response);
		}
		});

	function startAutocomplete(availableTags)
	{
        $( "#search-estate" ).autocomplete({
          source: availableTags
        });
     }
  </script>
  </body>
</html>
