{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rent4Less|single property</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

<!-- End Property Search Section -->>

  <!-- ======= Header/Navbar ======= -->
    {% include 'nav.html' %}
  <!-- End Header/Navbar -->

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}" id="msg">
                {{ message|safe }}
            </div>
          {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single"><a href="{% url 'estate_detail' estate.pk %}"> {{ apartment.flat_id }} &laquo; </a></h1>
              <span class="color-text-a">There {{ room|pluralize:"is,are" }} {% if room %} {{ room.count }} {% else %} no {% endif %} room in these apartment </span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'property' %}">All Estate</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'property_detail' city.pk %}"> {{ estate.city }} </a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'estate_detail' estate.pk %}"> {{ estate.estate_name }} </a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="section-property section-t8" style="margin-top: -180px;">
      <div class="container">

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">
            {% if apartment %}
                  {% if apartment.apartment_image %}
                    <div class="carousel-item-b swiper-slide">
                      <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                          <img src="{% if apartment.apartment_image %} {{ apartment.apartment_image.url }} {% else %} {% static 'assets/img/post-2.jpg' %} {% endif %}" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                          <div class="card-overlay-a-content">
                            <div class="card-header-a">
                              <h2 class="card-title-a">
                                {% if apartment.apartment_type %}
                                <a href="#">Shared Apartment Suite</a>
                                {% endif %}
                              </h2>
                            </div>
                            <div class="card-footer-a">
                              <ul class="card-info d-flex justify-content-around">
                                <li>
                                  {% if apartment.bedroom_type %}
                                    <h4 class="card-info-title">{{ apartment.apartment_type }}</h4>
                                    <span>{{ apartment.bedroom_type }}
                                      <sup>2</sup>
                                    </span>
                                    {% else %}
                                    <p> no apartment details here </p>
                                  {% endif %}
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  {% endif %}
            {% else %}

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{% static 'assets/img/post-2.jpg' %}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="#">Testing rooms 1
                          <br /> 
                        </a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <a href="#" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>340m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>2</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>4</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Garages</h4>
                          <span>1</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <!-- End carousel 3 -->
            {% endif %}
            <!-- End carousel item -->

          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section>

    <div class="row">
      <div class="col-sm-12">
        {% if room %}
        <div class="row section-t3">
          <div class="col-sm-12" style="margin-left: 50px;">
            <div class="title-box-d">
              <h3 class="title-d"> Rooms Here </h3>
            </div>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-12 col-lg-5 ml-4" style="margin-left:">
            <div class="property-contact">
              <table class="table">
                <tbody>
                <tr type="checkbox" name="" id="chks" value="{{room.price}}">
                  {% if room %}
                  <td id="items">
                  {% for room in room %}
                    {% if room.price %}
                      <div class="col-md-12 d-flex mb-5">
                        <div class="col-sm-4">
                          {% if room.image1 %}
                          <img src="{{room.image1.url}}" alt="" width="150px" height="150px" class="mr-4 object-cover">
                          {% endif %}
                        </div>
                        <div class="col-sm-8">
                        <p class="">#{{ room.price }} </p>
                          <p class="">{{ room.room_types }} Suite</p>
                          {% if room in cart %}
                            <a href="{% url 'property_rooms' room.pk %}"><button class="btn btn-outline-success"> reserved </button></a>
                          {% else %}
                            <a href="{% url 'property_rooms' room.pk %}"><button class="btn btn-outline-success"> view room </button></a>
                          {% endif %}
                          {% if room.active == False %}
                            <a href="{% url 'cart_add' room.id %}"> Add To Booking </a>
                          {% else %}
                            <p> Reversed </p>
                          {% endif %}
                        </div>
                      </div>
                      {% endif %}
                  {% endfor %}
                    <p> All Booked Content Would Appear Here </p>
                    <button class="btn btn-primary"> Book Now </button>
                  </td>
                  <td id="but1"> </td>
                  {% else %}
                  no room found now
                  {% endif %}


                </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% else %}
        <div class="col-sm-4">
          no rooms available for this apartment
        </div>

        <div class="col-sm-8">
          i am an empty guy?? please update me thanks
        </div>
      {% endif %}

    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <section class="section-footer">
    <div class="container">
      {% include 'footer.html' %}
    </div>
  </section>
      <!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>

  </script>

</body>

</html>
