{% load static %}
{% load cart_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

      <!-- Vendor CSS Files -->
      <link href="{% static 'assets/vendor/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
      <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'nav.html' %}
{% block content %}
{% if request.session.cart.items %}

<div style="margin-top: 100px" class="container">
    <table class="table">
        <thead>
            <tr>
                <td> Estate Name </td>
                <td> Price </td>
                <td> Room Image</td>
                <td> Total Price </td>
                <td> Remove </td>
            </tr>
        </thead>

        <tbody>

        {% for key,value in request.session.cart.items %}
        <tr>
            <td>
                {{ value.room }}|{{ value.room_type }}
            </td>
            <td> {{ value.price }} </td>


            <td>
                <img src="{{ value.image }}" alt="" sizes="" srcset="" height="200px" width="200px">
            </td>

            <td>Total: {{ value.price }} </td>
            <td>
                <a href="{% url 'item_clear' key %}"> Item clear </a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    sub total: {{ cart_total_amount }}
    <button><a href="{% url 'checkout' %}"> proceed to checkout </a></button>
</div>
{% else %}
    <div style="margin-top: 300px">
        <p> no item in your cart </p>
    </div>
{% endif %}

{% endblock %}

{% include 'footer.html' %}

<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>